$black: rgb(39, 39, 39);
$white: rgb(255,255,255);

$light-grey: rgb(243, 243, 243);
$grey: rgb(184,184,184);
$darken-grey: rgb(74, 74, 74);
$l-light-grey: rgb(200, 200, 200);

$red: rgb(227, 6, 19);

$facebook: rgb(66, 103, 178);