.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1234;
  transition: all .3s ease-in-out;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1.5rem;

  &__container{
    display: flex;
    width:100%;
    justify-content: space-between;
  }

  &__logo-form{ 
    display: flex;
    width: 100%;
  }
  
  &-logo{
    padding: .6rem 0;
    transition: all .3s ease-in-out;
    &__link {
      display: block;
      line-height: 0;
    }
    &__img {
      width: 6.5rem; 
      height: 2.8rem;
      transition: all .3s ease-in-out;
    }
  }
}

.form-search{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
  position: relative;
  padding: 0;
  margin-left: 1.2rem;
  width: 100%;
  max-width: 23rem;

  &__input{
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    font-size: .7rem;
    border: 1px solid $grey;
    padding: .4rem .4rem;
    font-family: $main-font;
  }
  &__img{
      position: absolute;
      right:.5rem;
      width: 1.6rem;
      height: 1.6rem;
  }
  .search-img{
      width: 100%;
      height: 100%;
      cursor: pointer;
  }
}



.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all .3s ease-in-out;
  &__ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  &__li {
    margin-left: 1rem;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:last-child{
      margin-left: 1.2rem;
    }
  }
  &__link {
    color: $black;
    font-size: .8rem;
    position: relative;

    &:after{
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      bottom: -.2rem;
      left: 0;
      transition: all 0.3s ease;
      border-bottom: 2px solid $red;
    }
    &:hover{
      color: rgba(39,39,39, 0.9);
      &:after{
        width: 100%;
      }
    }
   
  }
}

.menu__photo{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.user-photo{
  object-fit: contain;
  width: 100%;
  height: 100%;
}


/*menu mobile*/
.hidden{
  visibility: hidden;
}

.menu__hamburger{
  cursor: pointer;
  position: absolute;
  background-color:transparent;
  width: 2.5rem;
  height: 100%;
  transition: border-radius 0.5s;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: calc(100% - (2.5rem + 15px));
  top: 0;
  display: none;
  z-index: 9999;

  .hamburger-bar{
    display: block;
    background-color: $red;
    width: 100%;
    height: 3px;
    margin: 5px 0;
    transition: 0.5s;
  }
  .hamburger-bar.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger-bar.open:nth-child(2) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .hamburger-bar.open:nth-child(3) {
    display: none;
  }
}

@media(max-width: 1300px){
  .menu__li{
      margin-left: .5rem;
  }
}

@media(max-width: 1024px){
  .menu__hamburger{
    display: flex;
  }
  .menu__ul{
    transition: all .5s ease-in;
    position: absolute;
    z-index: 20;
    left: -25%;
    top: 0;
    width: 100vw;
    background-color: $white;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0s;
    .menu__li{
      margin: .5rem;
    }
    .menu__link{
      font-size: 2rem;
    }
  }
  .menu__ul.open{
    transition: 0.75s ease-in-out;
    visibility: visible;
    opacity: 1;
  }
  .form-search{
    margin-left: .8rem;
  }
}

@media(max-width: 1023px){
  .menu__ul{
    left: 0vw;
  }
}


@media(max-width: 576px){
  .navbar__logo-form{
    flex-direction: column;
    width: 75%;
  }
  .form-search{
    margin-left:0;
    margin-bottom: 1rem;
  }
}



