.section-newsletter{
    background-color: $white;
}
.newsletter{
    &__desc{
        font-size: .7rem;
        color: $darken-grey;
        line-height: 1rem;
    }
    &__container{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}



.form{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $main-font;
    font-size: .7rem;

    &__inputs{
        display:flex;
    }
    &__input{
        border: none;
        color: $darken-grey;
        background-color: $white;
        border-left: 1px solid $grey;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
        border-right: none;
        border-radius: 5px 0px 0px 5px;
        color: $black;
        font-size: .7rem;
        text-align: center;
        padding: 1rem 4rem;
        width: 100%;
        &:focus { 
            outline: none !important;
            box-shadow: none;
        }
    }
    &__submit{
        color: $white;
        background-color: $red;
        border: 1px solid  $red;
        border-radius: 0px 5px 5px 0px;
        font-family: $main-font;
        font-size: .7rem;
        text-align: center;
        padding: 1rem 1.5rem;
        font-weight: bold;
        cursor: pointer;
        &:hover{
            background-color: $white;
            color:  $red;
        }
       
    }
    

    &__checkbox-label{
        font-size: .65rem;
        margin: 0;
        margin-top: .5rem;
        cursor:pointer;
        position: relative;
        padding-left: 1.2rem;
        text-align: left;
        width: auto;
        &:before{
            content: "";
            border: 1px solid rgba(74, 74, 74,0.44);
            display: block;
            width: .75rem;
            height: .75rem;
            position: absolute;
            left:0;
            top: 0;
            background-color: transparent;
        }
        .checkbox{
            position: absolute;
            left:0;
            top: 0;
            cursor:pointer;
            opacity:0; 
        }
        .tick{
            background:url("/assets/img/checked-black.png");
            background-size: cover;
            height: .56rem;
            width:.6rem;
            display: none;
            position: absolute;
            top: .075rem;
            left: .07rem;
        }
    }
    .checkbox:checked~.tick{
        display: block;
    }
}


.label-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin:0;
    padding:0;
}
.font-info{
    visibility: hidden;
    cursor: pointer; 
}
.return-msg{
    font-size: .8rem;
    color: $darken-grey;
    font-weight: 700;
    padding: 1rem 0;
    text-align:center;
    align-self:center;
    visibility: hidden;
}
.show{
    visibility: visible !important;
    opacity: 1 !important;
}
.hidden{
    visibility: hidden !important;
    opacity: 0 !important;
}

.tooltips{
    position: relative;
}

.tooltiptext {
    visibility: hidden;
    width: 90%;
    background-color: $darken-grey;
    color: $white;
    text-align: center;
    padding: .25rem .1rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 10%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -.25rem;
    border-width: .25rem;
    border-style: solid;
    border-color: rgb(74, 74, 74) transparent transparent transparent;
}

.tooltips:hover {
    .tooltiptext {
        visibility: visible !important;
        opacity: 1 !important;
    }
}

                          
        
@media(max-width:992px){
    .font-info{
        visibility: visible;
    }
    .tooltips:hover {
        .tooltiptext {
            visibility: hidden!important;
            opacity: 0!important;
        }
    }
    .newsletter{
        &__container{
        margin-top: 1rem;
        justify-content: center;
        }
        &__desc{
            text-align:center;
        }
        &__title{
            text-align:center;
        }
    }
}





