.category{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(74, 74, 74, 0.1) 0px 2px 10px 0px;
    &-content{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 2rem;
    }
    &-img{
        width: 4rem;
        height: 4rem;
    }
}

.swiper__category-container{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.5rem;
    overflow-x: hidden; 
}

.swiper-slide--blank{
    opacity: 0;
    cursor: default;
}

