.user{
    
    
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    &__profile{
        width: 100%;
        height: 100%;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: .5rem .5rem;
    }
    &__img{
        border-radius: 50%;
        width: 100%;
        .profile-img{
            max-width: 40%;
            height: auto;
            object-fit: contain;

        }
    }
    &__name{
        font-size: .8rem;
        padding: .5rem 0;
    }
    &__text{
        font-size: .7rem;
        
    }
    &__buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
    }
    &__btn{
        color:  $darken-grey;
        border: 1px solid $grey;
        border-radius: 5px;
        font-size: .7rem;
        padding: .5rem 1.5rem;
        width: 100%;
        cursor: pointer;
        margin: .2rem 0;
        font-weight: 700;

        &:hover{
            background-color:  $darken-grey;
            color:  $white;
            border: 1px solid $darken-grey;
        }

    }
}


.advertisement{

    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    margin-top: 1rem;
    margin-bottom: 1rem;
   
    
   
    &__container{
        width: 100%;
        background-image: url('/assets/img/advertisement.jpg');
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: .5rem .75rem;
        height: 15rem;
    }

    &__text{
        margin-top: 1rem;
        font-size: 1rem;
        text-align: center;
        color:$white;
        line-height: 1.2rem;
    }

    &-btn{
        background-color: $red;
        color: $white;
        font-weight: bold;
        text-align: center;
        border-radius: 5px;
        font-size: .7rem;
        box-shadow: rgba(235, 33, 55, 0.6) 0px 0px 10px 0px;
        line-height: 2rem; 
        height: 2rem;
        margin: 1rem 0 1rem;
        width: 100%;
        transition: all .3s ease-in-out;
        cursor: pointer;
        &:hover{
            background-color: $white;
            color: $red;
        }
    }
   
}